@import 'Colors';

$sizes: (
  1: 2rem,
  2: 1.7rem,
  3: 1.5rem,
  4: 1.3rem,
  5: 1.1rem,
  6: 1rem,
);

.cm-formatting-heading-mark * {
  color: $gray-1;
}

.cm-heading-widget {
  display: inline-block;
  white-space: normal;
  font-weight: bold;

  @for $i from 1 through 6 {
    .cm-formatting-heading-#{$i} {
      font-size: map-get($sizes, $i);
    }
  }
}

@for $i from 1 through 6 {
  .cm-formatting-heading-#{$i} {
    font-size: map-get($sizes, $i);

    & * {
      text-decoration: none;
    }
  }
}