.cm-heading-widget {
    display: inline-block;
    white-space: normal;
    font-weight: bold;
  }
  
  .formatting-heading1 {
    font-size: 1.75em;
  }
  
  .formatting-heading2 {
    font-size: 1.5em;
  }
  
  .formatting-heading3 {
    font-size: 1.25em;
  }
  
  .formatting-heading4 {
    font-size: 1em;
  }