@import 'Colors';

$sizes: (
  1: 1.8em,
  2: 1.6em,
  3: 1.42em,
  4: 1.26em,
  5: 1.125em,
  6: 1em,
);

.cm-formatting-heading-mark * {
  color: $gray-1;
}

.cm-heading-widget {
  display: inline-block;
  white-space: normal;
  font-weight: bold;

  @for $i from 1 through 6 {
    .cm-formatting-heading-#{$i} {
      font-size: map-get($sizes, $i);
    }
  }
}

@for $i from 1 through 6 {
  .cm-formatting-heading-#{$i} {
    font-size: map-get($sizes, $i);

    & * {
      text-decoration: none;
    }
  }
}